/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
/native/ex_fastembed/target/
/priv/native
*.ez
*.beam
/config/*.secret.exs
/.elixir*
.fastembed_cache/
/config/
# Rust binary artifacts
/target/

# Rust binary artifacts
/target/
